
body             {background: #ACB5BB} /* same as footer so if  short page rest is still footer colour */
.main            {background: #ECEEF0; padding-bottom: 4em} /* off-white so white cards stand out */
bg-dark          {background-color: rgb(75,95,108) !important;}
.footer          {background: ACB5BB; padding: 3em 0 2em;}
.footer a        {color: black}

.home           {height: 400px; background-repeat: no-repeat; background-size: cover; background-position: center; background-image: url(/assets/home.jpg); margin-bottom: 50px; padding-top: 2rem}
.home h1        {font-size: 4rem; color: white}
.home p         {width: 40%; background: rgba(255,255,255, 0.7); padding: 0.5rem 1rem; font-size: 1.2rem; font-style: italic;}

.banner           {height: 500px; background-repeat: no-repeat; background-size: cover; background-position: center; margin-bottom: 50px; padding-top: 2rem}
.banner h1        {background: rgba(255,255,255, 0.9); padding: 0.5rem 1rem; display: inline-block;}

#filterFruit      {width:100%}

.tile             {background-size: cover; height: 14rem; font-size: 1.4rem; position: relative; }
.tiles .pb-4      {padding-bottom: 30px!important;}
.tile p           {position:absolute; bottom: 6px; left: 6px; margin-bottom: 0; padding: 0 0.5rem; }
.tile i           {padding-left: 0.2em}
/* OPTION A - white on black -> blue */
.tiles a          {color: white; }
.tiles a:hover    {color: blue; }
.tile p           {background: rgba(0,0,0, 0.5)}
/* OPTION B - black on white -> blue */
.tiles a          {color: black;  }
.tiles a:hover    {color: blue; }
.tile p           {background: rgba(255,255,255, 0.8)}


.card             {border-radius: 0}
.card-img-top     {height: 10rem; width:auto; object-fit: cover; border-top-left-radius: 0; border-top-right-radius: 0}
.card p           {margin-bottom: 0}
.card i           {color: #7D9D33; padding-left: 10px; position: absolute; bottom: 12px; right: 12px}

h1                {margin-bottom: 1.5rem}
h2                {margin-bottom: 1em}

.page h1          {margin-top: 1em}
.page h2          {margin-top: 1.5em; margin-bottom: 0.5rem}

dt                {font-weight: 400;}
dd                {font-weight: 600;}
.blurb            {font-size: 1.2rem; line-height: 1.7}

.tableauto        {width: auto}
.highlight        {background-color: #f8f8f8;}
.highlight .sr    {color: #586e75;  /* not red as OTT */}



/*
 * Font Awesome Free 5.8.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 Need to include /vendor/fontawesome-5.8.1.min.css too
 */
@font-face {
 font-family: 'Font Awesome 5 Free';
 font-style: normal;
 font-weight: 400;
 font-display: auto;
 src: url("../vendor/fa-regular-400.eot");
 src: url("../vendor/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-regular-400.woff2") format("woff2"), url("../vendor/fa-regular-400.woff") format("woff"), url("../vendor/fa-regular-400.ttf") format("truetype"), url("../vendor/fa-regular-400.svg#fontawesome") format("svg"); }
.far {
 font-family: 'Font Awesome 5 Free';
 font-weight: 400; }

@font-face {
 font-family: 'Font Awesome 5 Free';
 font-style: normal;
 font-weight: 900;
 font-display: auto;
 src: url("../vendor/fa-solid-900.eot");
 src: url("../vendor/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-solid-900.woff2") format("woff2"), url("../vendor/fa-solid-900.woff") format("woff"), url("../vendor/fa-solid-900.ttf") format("truetype"), url("../vendor/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
 font-family: 'Font Awesome 5 Free';
 font-weight: 900; }

@font-face {
 font-family: 'Font Awesome 5 Brands';
 font-style: normal;
 font-weight: normal;
 font-display: auto;
 src: url("../vendor/fa-brands-400.eot");
 src: url("../vendor/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-brands-400.woff2") format("woff2"), url("../vendor/fa-brands-400.woff") format("woff"), url("../vendor/fa-brands-400.ttf") format("truetype"), url("../vendor/fa-brands-400.svg#fontawesome") format("svg"); }
.fab {
 font-family: 'Font Awesome 5 Brands'; }
